<section class="category-section">
    <div class="container" data-aos="fade-up">

      <div class="section-header d-flex justify-content-between align-items-center mb-5">
        <h2>JavaScript</h2>
        <div><a href="category.html" class="more">See All JavaScript</a></div>
      </div>

      <div class="row">
        <div class="col-md-9 order-md-2">

          <div class="d-lg-flex post-entry-2">
            <a href="{{ js_single.get_absolute_url }}" class="me-4 thumbnail d-inline-block mb-4 mb-lg-0">
              <img src="{{ js_single.image.url }}" alt="" class="img-fluid">
            </a>
            <div>
              <div class="post-meta"><span class="date">{{ js_single.categories }}</span> <span class="mx-1">&bullet;</span> <span>{{ js_single.publish }}</span></div>
              <h3><a href="{{ js_single.get_absolute_url }}">{{ js_single.title }}</a></h3>
              <p>{{ js_single.body|truncatewords:50|linebreaks}}</p>
              <div class="d-flex align-items-center author">
                <div class="photo"><img src="{{ js_single.author_pic.url }}" alt="" class="img-fluid"></div>
                <div class="name">
                  <h3 class="m-0 p-0">{{ js_single.author.first_name}} {{ js_single.author.last_name}}</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="post-entry-1 border-bottom">
                <a href="single-post.html"><img src="/static/blog-assets/img/post-landscape-5.jpg" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h2 class="mb-2"><a href="single-post.html">11 Work From Home Part-Time Jobs You Can Do Now</a></h2>
                <span class="author mb-3 d-block">Jenny Wilson</span>
                <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
              </div>

              <div class="post-entry-1">
                <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h2 class="mb-2"><a href="single-post.html">5 Great Startup Tips for Female Founders</a></h2>
                <span class="author mb-3 d-block">Jenny Wilson</span>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="post-entry-1">
                <a href="single-post.html"><img src="/static/blog-assets/img/post-landscape-7.jpg" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
                <span class="author mb-3 d-block">Jenny Wilson</span>
                <p class="mb-4 d-block">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero temporibus repudiandae, inventore pariatur numquam cumque possimus</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="post-entry-1 border-bottom">
            <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
            <h2 class="mb-2"><a href="single-post.html">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
            <span class="author mb-3 d-block">Jenny Wilson</span>
          </div>

          <div class="post-entry-1 border-bottom">
            <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
            <h2 class="mb-2"><a href="single-post.html">17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</a></h2>
            <span class="author mb-3 d-block">Jenny Wilson</span>
          </div>

          <div class="post-entry-1 border-bottom">
            <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
            <h2 class="mb-2"><a href="single-post.html">9 Half-up/half-down Hairstyles for Long and Medium Hair</a></h2>
            <span class="author mb-3 d-block">Jenny Wilson</span>
          </div>

          <div class="post-entry-1 border-bottom">
            <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
            <h2 class="mb-2"><a href="single-post.html">Life Insurance And Pregnancy: A Working Mom’s Guide</a></h2>
            <span class="author mb-3 d-block">Jenny Wilson</span>
          </div>

          <div class="post-entry-1 border-bottom">
            <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
            <h2 class="mb-2"><a href="single-post.html">The Best Homemade Masks for Face (keep the Pimples Away)</a></h2>
            <span class="author mb-3 d-block">Jenny Wilson</span>
          </div>

          <div class="post-entry-1 border-bottom">
            <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
            <h2 class="mb-2"><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should Know</a></h2>
            <span class="author mb-3 d-block">Jenny Wilson</span>
          </div>
        </div>
      </div>
    </div>
  </section>